{% extends 'base.html' %}

{% block title %}
Администратор/ список родителей
{% endblock %}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Учителя</title>
</head>
<body>
    <h1>Список родителей</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>USER_ID</th>
                <th>Имя</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for parent in parents %}
            <tr>
                <td>{{ parent.parent_id }}</td>
                <td>{{ parent.user_id }}</td>
                <td>{{ parent.username }}</td>
                <td>{{ parent.email }}</td>
                <td>{{ parent.phone }}</td>
                <td>
                    <a href="{{ url_for('adminParent', parent_id=parent.parent_id, user_id=parent.user_id, method='edit') }}">Редактировать</a>
                    <a href="{{ url_for('adminParent', parent_id=parent.parent_id, user_id=parent.user_id, method='delete') }}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}